@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Variáveis*/
:root {
    /*Paleta de cores*/
    --cor0:#8488B6;
    --cor1:#80818F;
    --cor2:#7D85E0;
    --cor3:#484A61;
    --cor4:#1F2136;
    --cor5:#171A38;
    --cor6:white;
    /*Fonte de destaque*/
    --fonte-padrao:Arial, Helvetica, sans-serif;
    --fonte-destaque:"Montserrat", sans-serif;
    --fonte-normal:"Roboto", sans-serif;
}



* {
    margin:0px;
    padding: 0px;
}

body {
    font-family: var(--fonte-padrao);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px 25px 50px;
    background-color: black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.278);
}

header h1 {
    font-family: var(--fonte-destaque);
    color:var(--cor6);
    font-size: 3vw;
}

header div > a{
    width: 32px;
    text-decoration: none;
}

main {
    max-width: 1380px;
    margin: auto;
    background-color:rgb(255, 255, 255);
}

#welcome {
    box-shadow: inset 2px 6px 13px rgba(132, 131, 131, 0.369);
    background-image: url('../imagens/fundo02.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom center;
    color:rgba(255, 255, 255, 0.841);
    
}


#welcome article h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: var(--fonte-destaque);
    font-size: 3vw;
}

#welcome article p {
    text-align: center;
    line-height: 1.5em;
    font-family: var(--fonte-normal);
    padding-bottom: 15px;
    font-size: 2.5vw;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.149);
    padding-left: 20px;
    padding-right: 20px;
}

#menu {
    text-align: center;
}

#menu > p {
    padding: 20px;
    text-align: left;
    font-family: var(--fonte-normal);
    color: #484A61;
    text-transform: capitalize;
    font-size: 1.7vw;
}


.card {
    padding: 20px;
    display: inline-block;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.411);
    border-radius: 6px;
}

.card a {
    text-decoration: none;
    color: black;
}



.card > p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--cor4);
    font-family: var(--fonte-normal);
    text-transform: uppercase;    
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.229);
    color: white;
}

div {
    background-color: white;
}

footer {
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 8px;
    text-align: center;
}

footer p a{
    text-decoration: none;
    color:white;
}

footer p a:hover {
    background-color: var(--cor1);
    padding: 3px;
    border-radius: 5px;
}